.cardDiv{
  box-shadow: 3px 3px 5px grey,-3px -3px 5px grey;
  transition: all ease 0.5s;
}
img{
  height: 250px;
}

.cardDiv:hover{
  transform: scale(1.1);
  z-index: +5;
}
abbr{
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

@media screen and (min-width: 720px) {
  .cardDiv {
    width: 18rem;
  }
}